*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  padding: 1em;
  margin: 0;
  margin-top: 1em;

  background-color: #4696e5;

  color: white;

  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-shadow: 0.1em 0.1em 0.08em #2d6a85;

}

button{
  height: 4em;
  width: 4em;

  font-size: 0.8em;
  vertical-align: middle;

  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.5em;

}

#board{
  text-align: center;
}

#select{
  text-align: center;

}

.cell-apart{
  margin: 2em;
}

.cell-apart:hover{
  background-color: rgb(57, 163, 13);
}

.cell-apart:active{
  border-color: red;
}
